 <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'I-S-O-P-T admin', admin_root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= 'class=active' if params[:controller] == 'admin/event_isopts'  %>>
          <%= link_to "Events(#{EventIsopt.count})", admin_event_isopts_path %>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li <%= 'class=active' if params[:controller] == 'admin/users'  %>>
          <%= link_to "Users(#{User.count})", admin_users_path %>
        </li>
      </ul>


      <ul class="nav navbar-nav">
        <li <%= 'class=active' if params[:controller] == 'admin/devices'  %>>
          <%= link_to "Device(#{Device.count})", admin_devices_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Sign out', admin_logout_path, method: :delete %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
