<div class="container content tk-adobe-text-pro" id="skrollr-body">
  <div class="user">
    <p class="username"><span class="fullname"><%= @user.fullname %></span> is currently living</p>
    <p class="time"><%= (@user.personal_current_time + @user.current_event_isopt.tz_offset_in_hour).strftime("%l") %><span class="colon">:</span><%= (@user.personal_current_time + @user.current_event_isopt.tz_offset_in_hour).strftime("%M%P") %>
    <p class="date"><%= (@user.personal_current_time + @user.current_event_isopt.tz_offset_in_hour).strftime("%m/%d/%Y") %>, PRST<a href="#sup1"><sup>[1]</sup></a></p>

    <hr>

    <p><span class="fullname"><%= @user.fullname %></span>&rsquo;s Personalized Time (PRST) is intialized as of <%= @user.init_at.strftime("%m/%d/%Y") %>, <%= (@user.init_at + @user.current_event_isopt.tz_offset_in_hour).strftime("%l:%M%P") %> PST<a href="#sup2"><sup>[2]</sup></a></sup>. <span class="fullname"><%= @user.first_name %></span> is a contributing member of the <%= link_to @user.current_event_isopt.title, event_isopt_path(@user.current_event_isopt) %> (CNST)<a href="#sup3"><sup>[3]</sup></a></sup>, created on <%= (@user.current_event_isopt.started_at + @user.current_event_isopt.tz_offset_in_hour).strftime("%m/%d/%Y") %> PST at <%= @user.current_event_isopt.venue_name %>.</p>
    <div class="measure-btn">
      <% if logged_in? and @user == current_user %>
        <%= link_to "Press & Hold to Add Moments", 'javascript:void(0);', class: 'moment_btn btn btn-primary' %>       
      <% end %>   
    </div>
    <hr>
    <h2><span class="fullname"><%= @user.fullname %></span>&rsquo;s Moment Measurements</h2>
    <div class="graph-wrapper">
      <div class="graph">
        <div class="bar start"></div>
        <% (0..@minutes).each do |minute| %>
          <div class="bar"></div>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
    <hr class="dark">
    <div class="others">
        <h3>Other Members of the <%= link_to @user.current_event_isopt.title, event_isopt_path(@user.current_event_isopt) %>:</h3>
        <ul>
          <% @user.current_event_isopt.users.each do |user| %>
          <% if user != @user %>
          <li><%= link_to user.fullname, user_path(user) %> <span class="label"> — living <%= (user.personal_current_time + @user.current_event_isopt.tz_offset_in_hour).strftime("%m/%d/%Y") %>, <%= (user.personal_current_time + @user.current_event_isopt.tz_offset_in_hour).strftime("%l:%M%P") %></span></li>
          <% end %>
          <% end %>
        </ul>
        <div class="clear"></div>
    </div>
  </div><!-- end prst-->
  <hr>
  <div class="footnote">
    <ul>
      <li id="sup1">[1] PRST, Personalized Time – <a href="http://i-s-o-p-t.com/">http://i-s-o-p-t.com/</a></li>
      <li id="sup2">[2] PST, Pacific Standard Time. – <a href="https://en.wikipedia.org/wiki/Pacific_Time_Zone">https://en.wikipedia.org/wiki/Pacific_Time_Zone</a></li>
      <li id="sup3">[3] CNST, Consensus Time – <a href="http://i-s-o-p-t.com/">http://i-s-o-p-t.com/</a></li>
    </ol>
  </div>
  <%= render 'layouts/footer' %>

</div>

<script>
  $(document).ready(function(e){
    WY.views.user_show_view({
      user_id: <%= @user.id %>,
      moment_records: <%= @user.moment_records.map {|mr| mr.conv_to_json }.to_json.html_safe %>
    });
  });
</script>