<%= render '/admin/users/tab' %>

<h3>
  Minute Records of # <%= @user.email %> / <%= @user.fullname %>
</h3>
<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <tr>
        <th>
          #
        </th>
        <th>
          Milliseconds
        </th>
        <th>
          Submitted At
        </th>
        <th>
          Delete
        </th>
      </tr>
      <% @minute_records.each do |mr| %>
      <tr>
        <td><%= link_to mr.id, edit_admin_user_minute_record_path(@user, minute_record) %></td>
        <td><%= mr.milliseconds %></td>
        <td>
          <%= mr.submitted_at.strftime("%Y/%m/%d %H:%M:%s") %> 
        </td>

        <td>
          <%= link_to admin_user_minute_record_path(@user, minute_record), :method => :delete, :confirm => 'are you sure?' %>
        </td>
      </tr>
      <% end %>
    </table>

  </div>
  <div class="col-md-3">
    <%= render '/admin/users/aside' %>
  </div>
</div>