<%= form_for [:admin, @device], :html => {:class => 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :sim_card_id, 'Sim Card ID', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :sim_card_id, :class => 'form-control', :placeholder => 'Sim Card ID' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :human_id, 'Human ID', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :human_id, :class => 'form-control', :placeholder => 'Human ID' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>