<%= form_for [:admin, @user], :html => {:class => 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :username, 'Username', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :username, :class => 'form-control', :placeholder => 'Username' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :password, 'Password', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password', data: {field: 'password'} %>
    </div>

  </div>

 <div class="form-group">
    <%= f.label :password_confirmation, 'Password Confirmation', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Password Confirmation' %>
    </div>

  </div>


  <div class="form-group">
    <%= f.label :first_name, 'First Name', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, 'Last Name', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, 'Email', :class => 'col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
    </div>
  </div>
  
  <%= f.fields_for :user_devices do |udf| %>
    <div class="form-group">
      <%= f.label :event_isopt_id, 'Event Date', :class => 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= udf.select :event_isopt_id, EventIsopt.all.map {|ev| [ev.held_at.try('strftime', '%Y/%m/%d'), ev.id]} %>
      </div>
    </div>

  <% end %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>