<%= render 'tab' %>

<h3>
  Edit # <%= @user.email %> / <%= @user.fullname %>
</h3>
<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
    <div style="height:50px"></div>

    <h4>Initialization Manually</h4>
    <%= render 'edit_init_time_form' %>
    
    <% if @user.is_initialized? %>
    <%= link_to "Deinitialize", deinitialize_admin_user_path(@user), :method => :patch, :class => "btn btn-danger", :data => {:confirm => "Are you sure?"} %>
    <% end %>

    <%= link_to "Delete", admin_user_path(@user), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure?"} %>
  </div>
  <div class="col-md-3">
    <%= render 'aside' %>
  </div>
</div>