<%= render 'tab' %>
<h3> 
  <%= @title %>
</h3>

<%= render 'search_form' %>
<div style="height:50px"></div>
<table class="table table-striped">
  <tr>
    <th>
      #
    </th>
    <th>
      Email
    </th>
    <th>
      Initialized
    </th>

    <th>
      Full Name
    </th>

    <th>
      Username
    </th>

    <th>
      Device ID
    </th>
    <th>
      Event Date
    </th>
    <th>
      Allocated ID
    </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.email, edit_admin_user_path(user) %></td>
    <td>
      <%= 'v' if user.is_initialized? %>
    </td>
    <td>
      <%= user.fullname %> 
    </td>
    <td>
      <%= user.username %>
    </td>
    <td>
      <% if user.devices.count > 0 %>
      <%= user.devices.first.id %>
      <% end %>
    </td>
    <td>
      <% if user.event_isopts.count > 0 %>
      <%= user.event_isopts.first.held_at.try("strftime", "%Y/%m/%d") %>
      <% end %>
    </td>
    <td>
      <% if user.user_devices.count > 0 %>
        <%= link_to user.user_devices.first.id, api_user_device_path(user.user_devices.first), target: '_blank' %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>


<%= link_to 'New Test User', new_admin_user_path, class: 'btn btn-primary' %>