<div class="container">
  <div class="masthead">
    <h3 class="masthead-title">
      <%= link_to 'Circle of Moment Measurement', root_path, title: 'Home' %>
    </h3>
    <div class="overlay">
      <%= image_tag_with_at2x "img1.png", id: "drawing-1", class: "drawings",  data: {"0": "margin-top:0px", "end": "margin-top:-1000px;" } %>
      <%= image_tag_with_at2x "img2.png", id: "drawing-2", class: "drawings",  data: {"0": "margin-top:0px", "end": "margin-top:-1000px;" } %>
      <%= image_tag_with_at2x "img3.png", id: "drawing-3", class: "drawings",  data: {"0": "margin-top:0px", "end": "margin-top:-1000px;" } %>
      <%= image_tag_with_at2x "img4.png", id: "drawing-4", class: "drawings",  data: {"0": "margin-top:0px", "end": "margin-top:-1000px;" } %>
      <%= image_tag_with_at2x "img5.png", id: "drawing-5", class: "drawings",  data: {"0": "margin-top:0px", "end": "margin-top:-1000px;" } %>
      <%= image_tag_with_at2x "img6.png", id: "drawing-6", class: "drawings",  data: {"0": "margin-top:0px", "end": "margin-top:-1000px;" } %>
      <%= image_tag_with_at2x "img7.png", id: "drawing-7", class: "drawings",  data: {"0": "margin-top:0px", "end": "margin-top:-1000px;" } %>
    </div>
  </div>
</div>