<!DOCTYPE html>
<html>
<head>
  <title>I-S-O-P-T Admin Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/admin/header' %>
  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <%= yield %>
  </div>


</body>
</html>
